.form {
    margin: 50px 70px;
}

.searchInput {
    font-size: 16px;
    padding: 3px 0px;
    width: 170px;
    outline: none;
    box-shadow: 0 10px 30px #d0d0d0;

}

.seacrhBtn {
    margin-left: 10px;
    outline: none;
    font-size: 16px;
    padding: 3px 0px;
}